nav {
    background: rgba(0, 0, 0, 0.1);
    width: max-content;
    display: block;
    padding: 0.8rem 0.8rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 5rem;
    backdrop-filter: blur(10px);
}

nav a {
    background: transparent;
    padding: 1.5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1.4rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.1);
}

nav a.active {
    background: var(--color-white);
    color: var(--color-bg);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-bg);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: -43px;
    left: 50%;
    transform: translateX(-50%);
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
}